layout python python3

# Create .secrets/env.sh for exporting repo-specific shell things with sensitive
# data.  .secrets is ignored in .gitignore.
[[ -f .secrets/env.sh ]] && source .secrets/env.sh

# Put repo-specific scripts in a ./bin folder.
PATH_add bin
